.index{
    background-image:url('/images/img.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    width: 100%;
    height:100%;
    position: absolute;
    background-attachment: fixed;
    display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
}
.btn{
   padding: 1rem;
   border-radius: 20px;
   /* border: 2px solid white; */
   color: rgb(9, 9, 9);
   text-align: center;
   text-transform: capitalize;
   font-weight: bold;
   font-size: large;
   outline: 0;
   border: none;
   background-color: aqua;
   cursor: pointer;
}
.btn:hover{
    color: white;
}